.step-content {
  display: none;
}

.active {
  display: block;
}

.btn-up {
  font-size: 16px;
  font-weight: normal;
  color: black;
}

.btn-outline-secondary:hover {

  background-color: rgb(231, 231, 231) !important;
}

.custom-file-input {
  display: none;
  /* إخفاء الإدخال الافتراضي */
}



.file-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.remove-file {
  cursor: pointer;
  color: red;
  margin-left: 10px;
}


.current-question {
  background-color: #f5a8a8 !important;
}
.question-container {
  display: none;
}
.question-container.active {
  display: block;
}

/* Progress container */
.progress-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Filled dash */
.dash {
  width: 100%;
  height: 5px;
  margin: 0 5px;
  position: relative;
}

/* Filled dash with animation */
.dash-filled {
  position: absolute;
  top: 0;
  right: 0;
  height: 8px;
  width: 0%;
  background-color: #dfbd69;
  border-radius: 20px;
  transition: width 0.5s ease; /* Animation duration and easing */
}

.text-q {
  color: #757575 !important;
  line-height: 60px;
}

/* Set the fixed number of dashes */
.dash-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Screen container */
.screen {
  display: none;
}

.screen.active {
  display: block;
}

.question-container {
  height: 50vh;
}
.h-70 {
  height: 50vh ;
}
 
.w-md-auto{
    width: auto !important;
}
 
@media (max-width: 600px) {
  .dash-filled {
    height: 6px;
  }

  .top-m {
    margin-top: 110px;
  }

  .text-q {
    line-height: 40px;
    font-size: 18px !important;
  }

  .bottom-div {
    position: fixed; /* Sticks to the viewport */
    bottom: 80px; /* Aligns it to the bottom */
    left: 0; /* Full width across the screen */
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
  }

  .w-md-auto{
    width: 100%   !important;
}

}
