
.counter{
    background: #F3F7F5;
border-radius: 43px;
text-align: center;
color: #1E6144;
align-self: center;
}




.agency-header .ds-text-input {

    font-size: 16px;

}


@media (max-width: 600px) {
    .agency-header .ds-text-input {
        width: auto;
        font-size: 16px;

    }

}

.ico-btn:hover{
    color: #3CA078 !important;
    cursor: pointer;
}
.card-custom {
    max-width: 100%;
    margin: 2rem auto;
    border-radius: 15px;
    /* Curved corners for the card */
    overflow: hidden;
    /* Ensures the border-radius is applied to children */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Shadow for the card */
    background-color: #fff;
    /* White background for the card */
}

.card-body-custom {
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 16px;
   
}

thead>tr>th{
   
    font-weight: 600;
color: #11141E;
}

thead {

    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    /* Shadow for the thead */
    border-radius: 10px !important;
    font-size: 16px;
   
}

thead th {
    padding: 1.1rem;
    text-align: start;
    font-weight: normal;
    /* No bold font */
    position: relative;
    /* Position relative to allow absolute positioning of pseudo-element */
}

/* Pseudo-element to create space */
thead th::after {
    content: '';
    display: block;

    height: 0;
    width: 100%;
}


tbody tr td {

    padding: 1.3rem;
    text-align: start;

}


tbody tr {


    border: 1px solid #e6e6e6;
}

table {
    border-collapse: separate;
    border-spacing: 0 14px;
    text-align: start !important;
}


tbody tr td:last-child {
    border-left: 1px solid #e6e6e6 !important;

}

table td {
    text-align: start !important;

    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;


    width: 160px;
    height: 30px;
}
tbody>tr:hover {
background-color: #F7F7F7;
}

tr:hover td {
background-color: transparent; /* or #000 */
}

table td:first-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

table td:last-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

 


.b-gray{
    border-right: 10px solid  #707070;
    /* Red right border on the first cell */

}
.b-blue{
    border-right: 10px solid  #2967ae;
    /* Red right border on the first cell */

}

.b-green{
    border-right: 10px solid  #29ae5f;
    /* Red right border on the first cell */
}

.b-red{
    border-right: 10px solid #D04444;
    /* Red right border on the first cell */

}

.b-yellow{
    border-right: 10px solid  #eac66c;

}




.b-orange{
  border-right: 10px solid  #c15b10;

}

.b-violet{
    border-right: 10px solid  #5505cd;

}

.b-brown{
    border-right: 10px solid  #816219;

}

.b-none{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid #e6e6e6 !important;

}


.badge,
.btn-sm {
    font-size: 0.9em;
}

.btn-sm {
    border-radius: 15px;
    /* Rounded corners for buttons */
    padding: 0.25rem 0.5rem;
    /* Smaller padding for a compact button */
}


.table2 {
    border-collapse: collapse; /* To ensure that the cells are connected */
  }
  .table2 th,
  .table2 td {
    border: 1px solid #020202; /* Optional: if you want borders */
    border-radius: 0; /* Ensures no border radius */
  }
  .table2 td {
    border-top: none; /* Hide top border for table data cells */
    border-left: none; /* Hide left border for table data cells */
    border-right: none; /* Hide right border for table data cells */
    border-bottom: none; /* Show only bottom border// 1px solid #34a174 */
  }
  
  
  
    .data-label {
      font-size: 14px;
    }
  
    .ds-text-input {
      border: 0.2px solid #97979752 !important;
    }
  
    .btn-report {
      font-size: 16px !important;
    }
  
    .btn-show {
      background-color: #fff !important;
      border: 1px solid #1E6144 !important;
      color: #1E6144;
      border-radius: 8px !important;
      font-weight: 500;
      height: 38px;
      width: 38px;
  
  
  
    }
  
    .b-show {
  
      text-decoration: none;
      border: none;
      position: relative;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;
      transition: padding 0.3s ease;
  
    }
  
    .b-show::before {
  
      background-color: #fff !important;
      border-color: #1E6144 !important;
      color: #1E6144;
      content: "\F33E";
      /* Bootstrap icon Unicode for eye */
      font-family: 'bootstrap-icons';
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 7px;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
    }
  
    .b-show::after {
  
  
      color: #1E6144;
      content: "عرض";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.3s ease;
      white-space: nowrap;
      padding-left: 20px;
    }
  
    .b-show:hover::before {
      color: #1E6144;
  
      transform: translate(0%, -50%);
    }
  
    .b-show:hover::after {
      transform: translate(-50%, -50%) scale(1);
    }
  
    .b-show:hover {
      padding: 0px 40px;
      /* Adjust padding to fit expanded text */
    }
  
  
  
    .btn-edit {
      background-color: #fff !important;
      border: 1px solid #1F5EC9 !important;
      color: #1F5EC9;
      border-radius: 8px !important;
      font-weight: 500;
      height: 38px;
      width: 38px;
  
    }
  
    .b-edit {
  
      text-decoration: none;
      border: none;
      position: relative;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;
      transition: padding 0.3s ease;
  
    }
  
    .b-edit::before {
  
      background-color: #fff !important;
      border-color: #1F5EC9 !important;
      color: #1F5EC9;
      content: "\F4C9";
      /* Bootstrap icon Unicode for eye */
      font-family: 'bootstrap-icons';
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 7px;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
    }
  
    .b-edit::after {
  
  
      color: #1F5EC9;
      content: "تعديل";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.3s ease;
      white-space: nowrap;
      padding-left: 20px;
    }
  
    .b-edit:hover::before {
      color: #1F5EC9;
  
      transform: translate(0%, -50%);
    }
  
    .b-edit:hover::after {
      transform: translate(-50%, -50%) scale(1);
    }
  
    .b-edit:hover {
      padding: 0px 40px;
      /* Adjust padding to fit expanded text */
    }
  
  
  
  

    .btn-select {
      background-color: #fff !important;
      border: 1px solid #1F5EC9 !important;
      color: #1F5EC9;
      border-radius: 8px !important;
      font-weight: 500;
      height: 38px;
      width: 38px;
  
    }
  
    .b-select {
  
      text-decoration: none;
      border: none;
      position: relative;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;
      transition: padding 0.3s ease;
  
    }
  
    .b-select::before {
  
      background-color: #fff !important;
      border-color: #1F5EC9 !important;
      color: #1F5EC9;
      content: "\F586";
      /* Bootstrap icon Unicode for eye */
      font-family: 'bootstrap-icons';
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 7px;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
    }
  
    .b-select::after {
  
  
      color: #1F5EC9;
      content: "تأهيل";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.3s ease;
      white-space: nowrap;
      padding-left: 20px;
    }
  
    .b-select:hover::before {
      color: #1F5EC9;
  
      transform: translate(0%, -50%);
    }
  
    .b-select:hover::after {
      transform: translate(-50%, -50%) scale(1);
    }
  
    .b-select:hover {
      padding: 0px 40px;
      /* Adjust padding to fit expanded text */
    }



  
  
    .btn-del {
      background-color: #fff !important;
      border: 1px solid #d04444 !important;
      color: #d04444;
      border-radius: 8px !important;
      font-weight: 500;
      height: 38px;
      width: 38px;
  
    }
  
    .b-del {
  
      text-decoration: none;
      border: none;
      position: relative;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;
      transition: padding 0.3s ease;
  
    }
  
    .b-del::before {
  
      background-color: #fff !important;
      border-color: #d04444 !important;
      color: #d04444;
      content: "\F78A";
      /* Bootstrap icon Unicode for eye */
      font-family: 'bootstrap-icons';
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 7px;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
    }
  
    .b-del::after {
  
  
      color: #d04444;
      content: "حذف";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.3s ease;
      white-space: nowrap;
      padding-left: 20px;
    }
  
    .b-del:hover::before {
      color: #d04444;
  
      transform: translate(0%, -50%);
    }
  
    .b-del:hover::after {
      transform: translate(-50%, -50%) scale(1);
    }
  
    .b-del:hover {
      padding: 0px 40px;
      /* Adjust padding to fit expanded text */
    }

@media only screen and (max-width: 600px) {
   
.ico-btn{
   
    font-size: 20px !important;
}

}


@media (min-width: 768px){}
.d-md-block {
    display: table-cell  ;
}

